{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "useBuiltIns": true
      }
    }],
    "stage-2",
    ["minify", { "mangle": false }]
  ],
  "plugins": ["transform-runtime"],
  "env": {}
}
